<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502163156008-lgqsu2laralt7blhehoijjnc6lmpfe06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502163156008-lgqsu2laralt7blhehoijjnc6lmpfe06</string>
	<key>API_KEY</key>
	<string>AIzaSyA__lL_NdulCLLRdcNDqvQLhZxhrTk7ODY</string>
	<key>GCM_SENDER_ID</key>
	<string>502163156008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.wholedata.test</string>
	<key>PROJECT_ID</key>
	<string>test-app-template-one</string>
	<key>STORAGE_BUCKET</key>
	<string>test-app-template-one.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502163156008:ios:2d0350eec3a9d8c93e991d</string>
</dict>
</plist>